<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()" color="dark">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Olvidé mi contraseña</ion-title>
    <ion-buttons slot="end" mode="ios">
      <ion-button color="primary" fill="clear" mode="ios" (click)="closeModal()">Aceptar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding modal-background-design">

  <div class="modal-content-container">

    <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">

      <ion-item mode="ios" class="ion-margin-bottom">
        <ion-label position="stacked">Correo electrónico</ion-label>
        <ion-input formControlName="email" placeholder="e.g. email@example.com"
                   [ngClass]="{'input-error': isEmailInvalid || isEmailRequired}" type="email"
                   aria-label="Correo de recuperación"></ion-input>
      </ion-item>

      @if(isEmailInvalid){
        <ion-note color="danger" class="ion-padding-start">El formato del correo es incorrecto.</ion-note>
      }
      @if(isEmailRequired){
        <ion-note color="danger" class="ion-padding-start">El correo es requerido.</ion-note>
      }

      <ion-button class="btn-primary" expand="block" type="submit" [disabled]="isFormInvalid">Confirmar Correo</ion-button>

    </form>
  </div>
</ion-content>
