<div class="logo-container" style="text-align: center; margin-bottom: 20px;">
  <img ngSrc="../../images/LoginImage.png" alt="Logo" style="width: 120px; height: auto;" height="586" width="664">
</div>


<h3 class="title">Inicio de Sesión</h3>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >

  <!-- Campo correo -->
  <ion-item>
    <ion-label position="stacked" class="field-label">Correo electrónico</ion-label>
    <ion-input
      formControlName="email"
      [ngClass]="{'form-inputError':isEmailRequired||isEmailInvalid}"
      type="email"
      placeholder="Ingrese su correo">
    </ion-input>
  </ion-item>

  @if (isEmailRequired){
    <ion-note color="danger">El correo es requerido</ion-note>
  }
  @if (isEmailInvalid){
    <ion-note color="danger">El correo no es valido</ion-note>
  }

  <!-- Campo contraseña -->
  <ion-item>
    <ion-label position="stacked" class="field-label">Contraseña</ion-label>
    <ion-input
      formControlName="password"
      [ngClass]="{'form-inputError':isPasswordRequired}"
      type="password"
      placeholder="Ingrese su contraseña">
    </ion-input>
  </ion-item>

  @if (isPasswordRequired){
    <ion-note color="danger">El password es requerido</ion-note>
  }

  <!-- Enlace debajo de contraseña -->
  <div class="forgot-box">
    <a href="#" class="forgot-link">Olvidaste tu contraseña</a>
  </div>

  <!-- Botón ingresar -->
  <ion-button [disabled]="isFormInvalid" type="submit" expand="block" class="btn-primary">
    Ingresar
  </ion-button>
  <div class="register-box" style="text-align: center; margin-top: 10px;">
    <a href="/register-page" class="register-link">Regístrate ahora</a>
  </div>

</form>
