<h3>Inicio de Sesion</h3>



  <form>

    <!-- Campo correo -->
    <ion-item>
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input
        type="email"
        placeholder="Ingrese su correo">
      </ion-input>
    </ion-item>

    <!-- Campo contraseña -->
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input
        type="password"
        placeholder="Ingrese su contraseña">
      </ion-input>
    </ion-item>

    <!-- Enlace debajo de contraseña -->
    <div style="text-align: right; margin-top: 6px;">
      <a href="#" style="font-size: 14px; color: #3b49df;">
        Olvidaste tu contraseña
      </a>
    </div>

    <!-- Botón ingresar -->
    <ion-button expand="block" color="primary" style="margin-top: 20px;">
      Ingresar
    </ion-button>

  </form>

