<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <span>isActive:{{isActive()}}</span><br>
    <span>firstname:{{firstName()}}</span><br>
    <span>edad:{{age()}}</span><br>
    <span>Sub Total:{{subTotal()}}</span><br>
    <span>ISV 15%:{{taxes()}}</span><br>
    <span>years:{{years()}}</span><br>
    <span>loginData: {{loginData() | json }}</span><br>
    <ion-button (click)="changeValues()" >Cambiar Valores</ion-button>
  </div>
</ion-content>
